apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: hodi
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: hothaifaz11/hack-frontend
        env:
         - name: VITE_API_URL
           value: hothaifa-.com
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 32222

