apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-deployment
  namespace: monitoring
spec:
  replicas: 2
  selector:
    matchLabels:
      app: granfa
      env: stg
      tier: frontend
  template:
    metadata:
      name: grafana-pod
      labels:
        app: granfa
        env: stg
        tier: frontend
    spec:
     containers:
      - name: grafana-container
        image: grafana/grafana
        ports:
        - containerPort: 3000
        env:
          - name: BOSS
            value: dmitry
        resources:
          requests:
            memory: 32Mi
            cpu: 120m
          limits:
            memory: 150Mi
            cpu: 1000m
---
apiVersion: v1
kind: Service
metadata:
  name: grafana-svc
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: granfa
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 31311
  

---
# hpa

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: grafana-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: grafana-deployment
  minReplicas: 1 
  maxReplicas: 10
  metrics:
   - type: Resource
     resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
   - type: Resource
     resource:
      name: memory
      target:
       type: Utilization
       averageUtilization: 70

