apiVersion: apps/v1
kind: Deployment
metadata:
  name: resume
spec:
  selector:
    matchLabels:
      app: resume
  template:
    metadata:
      labels:
        app: resume
    spec:
      containers:
      - name: resume
        image: hothaifaz11/resume-m
        ports:
        - containerPort: 3000
