apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: utils-pvc
spec:
  resources:
    requests:
      storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  storageClassName: utils-storage

