apiVersion: v1
kind: Namespace
metadata:
  name: app1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  namespace: app1
spec:
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - name: vote
        image: dockersamples/examplevotingapp_vote
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: vote-svc
  namespace: app1
spec:
  selector:
    app: vote
  ports:
  - port: 4000
    targetPort: 80
---
